@using Microsoft.AspNetCore.Identity
@model IEnumerable<MobileShop.Models.Mobile>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin") && SignInManager.IsSignedIn(User))
{
    <span>
        <a asp-action="Create" class="btn btn-success"><span class="fa fa-plus-square"></span> Add new Mobile</a>
    </span>
    <span>
        <a asp-action="SearchForm" class="btn btn-success"><span class="fa fa-search"></span> Search Mobile</a>
    </span>
}
<table class="table mt-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Sellers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img style="width:100px;" src="@item.Url" alt="@item.Name" />
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Price)*@
                <span><span style="color:green">Rs: </span>@item.Price</span>
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Manufacturers.Name)*@
                <img style="width:100px;" src="@item.Manufacturers.Image" alt="@item.Manufacturers.Name" />
            </td>
            <td>
                @foreach (var seller in ViewData["Sellers"] as List<Seller>)
                {
                    foreach (var sellerMobile in ViewData["SellerMobile"] as List<SellerMobile>)
                    {
                        if (seller.Id == sellerMobile.SellerId && item.Id == sellerMobile.MobileId)
                        {
                            <div id="SellerBox">
                                <span id="manufacturerName">@seller.Name</span>
                                @*<img id="manufacturerImage" src="@seller.Image" alt="@seller.Name" />*@
                            </div>

                        }
                    }
                }
            </td>
            <td>
                    @if (User.IsInRole("Admin") && SignInManager.IsSignedIn(User))
                    {
                       <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span>|</span>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
