@model IEnumerable<MobileShop.Models.Mobile>

<div class="text-center">
    <h1 class="display-6"><u>Mobile shop</u></h1><br />
</div>

<div class="row">
    @foreach (var mobile in Model)
    {
        <div id="mobileContainer" class="col-lg-3 col-md-4 col-sm-6" style="padding-bottom:50px">
            @*<img id="mobileImage" style="width: 80%; height: 80%;" src="@mobile.Url" alt="@mobile.Url" />
            <h4 id="mobileTitle" style="text-align:center ; margin-top:20px">@mobile.Name</h4>
            <span id="mobilePrice" style="color:green">Rs : @mobile.Price</span>*@
            
            
            
            @*===================*@
            
            <a asp-controller="Books" asp-action="BookDetails" asp-route-id="@mobile.Id">
                <img id="bookImage" style="width: 80%;" src="@mobile.Url" alt="@mobile.Name" />
                <span id="bookTitle">@mobile.Name</span>
            </a><br/>
            <span id="bookPrice" style="color:green">Rs: @mobile.Price</span>
            <span id="bookQuantity"><input id="quantityInput" type="number" name="bookQuantity" value="" placeholder="0" /></span>
            <span id="bookCartButton"><button id="btn"><span class="fa fa-shopping-cart"></span>Add to Cart</button></span>
        
            @*===================*@
        </div>
    }
</div>
